<?xml version="1.0"?>

<model>
  <name>realistic_curve_side1_2</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>My name</name>
    <email>name@email.address</email>
  </author>

  <description>
    to reflect a realistic environment like the one in the lab
  </description>
</model>
